<nav class="breadcrumb">
    <div class="container">
        <div class="row breadcrumb__flex">
            <ol class="breadcrumb-left">
                <li class="breadcrumb-left_items">
                    <i class="fa-solid fa-house"></i>
                    <a href="/">Trang chủ</a>
                </li>
                <li class="breadcrumb-left_items pl-8">
                    <a href="/news">Tin Tức</a>
                </li>
                <li class="breadcrumb-left_items pl-8">
                    <a href="/news/newsdetail">Xã Hà Long phát triển mô hình trồng ổi lê</a>
                </li>
            </ol>
        </div>
    </div>
</nav>


<div class="container">
    <div class="form-list">
        <div class="form-item_col8">
            <div class="form-newsdetail_header">
                <h2 class="newsdetail_header">
                    Xã Hà Long phát triển mô hình trồng ổi lê
                </h2>
                <span class="header-news_time newsdetail_time">
                    <i class="fa-regular fa-clock"></i>
                    19:01,31/10/2022
                </span>
            </div>
            <div class="form-newsdetail_content">
                <p class="newsdetail_desc">
                    Thực hiện có hiệu quả việc chuyển đổi cơ cấu cây trồng phù hợp với điều kiện tự nhiên, khí hậu, thổ nhưỡng,
                    người dân xã Hà Long (Hà Trung) đã nhân rộng mô hình 
                    trồng ổi lê theo tiêu chuẩn VietGAP trên địa bàn. Nhờ kỹ thuật 
                    chăm sóc tốt, sản phẩm được đánh giá có chất lượng thơm, giòn, 
                    đậm vị... và đang được huyện Hà Trung lựa chọn xây dựng thành
                    sản phẩm OCOP năm 2022.
                </p>
                <img src="/img/img/newsdetail.jpg" alt="anh" class="newsdetail_content-img">
                <p class="newsdetail_desc">
                    Bài viết: https://baothanhhoa.vn/kinh-te/xa-ha-long-phat-trien-mo-hinh-trong-oi-le/161005.htm
                </p>
                <p class="newsdetail_desc">
                    Bén duyên với cây ổi lê từ nhiều năm nay, gia đình anh Trần Văn Phương là một trong những hộ dân tiên phong phát triển mô hình trồng ổi lê theo tiêu chuẩn VietGAP tại xã Hà Long. Đưa chúng tôi đi thăm mô hình, anh Phương chia sẻ: Giống ổi lê dễ trồng, ít công chăm sóc nên chi phí đầu tư thấp, tỷ lệ đậu trái cao, thu hoạch quanh năm. Các cây ổi con được xuống giống theo đúng kỹ thuật, phân thành các hàng, các khu riêng, ghi rõ ngày trồng để dễ theo dõi và có chế độ chăm sóc phù hợp. Để ổi đạt năng suất, chất lượng cao, cần bảo đảm thực hiện đúng các bước như làm cỏ, lên luống, cắt tỉa cành tăm, cành khô trong thời kỳ cây có quả và sau mỗi lần thu hoạch để cây có sức bật mầm mới, hạn chế sâu bệnh hại. Cũng theo anh Phương, sản xuất theo tiêu chuẩn VietGAP chủ yếu dùng phân gà ủ mục bón cho cây thay thế phân hóa học, thuốc bảo vệ thực vật sử dụng loại theo danh mục cho phép và tuân thủ nguyên tắc “4 đúng”; đồng thời, sử dụng các loại dung dịch thảo dược phun cho cây trồng để tiêu diệt các loại côn trùng gây hại cho cây và quả, không ảnh hưởng đến sức khỏe người dân và không gây ô nhiễm môi trường. Toàn bộ quá trình bón phân, sử dụng thuốc bảo vệ thực vật theo định kỳ đều được lưu lại trong hồ sơ để thực hiện truy xuất nguồn gốc. Sau khoảng 4 đến 5 tháng, cây ổi bắt đầu ra hoa và thụ quả. Để cây có đủ chất dinh dưỡng nuôi quả người nông dân sẽ tiến hành tỉa bớt hoa, quả, chỉ giữ lại những quả đẹp nhất của mỗi chùm. Khi quả đạt kích thước 2 - 3cm, người dân bắt đầu bọc quả ổi bằng mút xốp và bao nilon giúp hạn chế sâu bệnh, ngăn chặn các loại côn trùng... Từ những khó khăn ban đầu, đến nay, hơn 1 ha trồng ổi lê của gia đình anh Phương đã cho thu hoạch và được HTX dịch vụ thương mại Quý Hương bao tiêu sản phẩm; doanh thu đạt gần 1 tỷ đồng/năm.
                </p>
                <p class="newsdetail_desc">
                    Anh Nguyễn Văn Hợi, Chủ tịch Hội Nông dân xã Hà Long, cho biết: Mô hình trồng ổi lê đang là hướng đi đúng cho người dân xã Hà Long trong quá trình chuyển đổi cơ cấu cây trồng và cho thu nhập cao hơn từ 3 đến 5 lần so với các cây trồng khác như lúa, dứa. Với các ưu thế như không tốn nhiều công chăm sóc, chi phí đầu tư ban đầu ít, tuổi thọ cây khá cao (khoảng 5 - 6 năm) và nhanh cho thu hoạch quả... nên mô hình trồng ổi lê hiện đang được người dân quan tâm, mở rộng diện tích trên địa bàn xã Hà Long, với diện tích khoảng 70 ha, hơn 200 hộ sản xuất; hiệu quả kinh tế đạt khoảng 325 triệu đồng/ha/năm. Để nâng cao hiệu quả sản xuất, xã Hà Long đã thành lập HTX dịch vụ thương mại Quý Hương; theo đó, HTX có trách nhiệm hỗ trợ người dân về kỹ thuật trồng, chăm sóc, hướng dẫn người dân sản xuất theo tiêu chuẩn VietGAP. Đến nay, toàn bộ diện tích trồng ổi lê trên địa bàn xã đều được HTX đứng ra bao tiêu sản phẩm; không những cung cấp cho các thương lái trên địa bàn tỉnh mà còn mở rộng thị trường ở Hà Nội, Hải Phòng...
                </p>
                <p class="newsdetail_desc">
                    Thời gian tới, xã Hà Long sẽ tiếp tục vận động các hộ dân tham gia vào HTX nhằm mở rộng vùng trồng ổi theo tiêu chuẩn VietGAP gắn với xây dựng thương hiệu sản phẩm ổi lê Quý Hương; đồng thời, chuyển giao các tiến bộ khoa học - kỹ thuật để người sản xuất áp dụng đạt hiệu quả; bên cạnh đó kết nối với các siêu thị, cửa hàng thực phẩm an toàn trên địa bàn trong và ngoài tỉnh để tiêu thụ sản phẩm.
                </p>
            </div>

        </div>
        <div class="form-item_col4">
            <div class="form-newsdetail_nav">
                <h3 class="newsdetail_nav-header">
                    Bài viết mới
                </h3>
            </div>
            <div class="form-newsdetail_inform">
                <a href="" class="newsdetail_inform-link">
                    Góp mặt tại Diễn đàn Khuyến Nông, Nông nghiệp, iCheck chia sẻ chi tiết về ứng dụng truy xuất nguồn gốc theo tiêu chuẩn quốc gia
                </a>
            </div>
            <div class="form-newsdetail_informs">
                <div class="form-newsdetail_informs-box">
                    <h3 class="form-newsdetail_inform-header">Tin cũ hơn</h3>
                </div>
                <div class="form-newsdetail_informs-list">
                    <div class="form-newsdetail_inform">
                        <a href="" class="newsdetail_inform-link">
                            iCheck tham gia bồi dưỡng doanh nghiệp tỉnh Nam Định ứng dụng công nghệ truy xuất nguồn gốc
                        </a>
                    </div>
                    <div class="form-newsdetail_inform">
                        <a href="" class="newsdetail_inform-link">
                            [Góc nhìn iCheck] Báo Tuổi Trẻ phanh phui rau sạch dỏm: ‘Hô biến’ rau chợ thành rau 3 sạch!
                        </a>
                    </div>
                    <div class="form-newsdetail_inform">
                        <a href="" class="newsdetail_inform-link">
                            iCheck tham gia hội thảo Xu hướng toàn cầu và Việt Nam: Quan điểm từ chiến lược xuất khẩu quốc gia
                        </a>
                    </div>
                    <div class="form-newsdetail_inform">
                        <a href="" class="newsdetail_inform-link">
                            iCheck đồng hành cùng tỉnh Bắc Kạn tập huấn triển khai truy xuất nguồn gốc
                        </a>
                    </div>
                    <div class="form-newsdetail_inform">
                        <a href="" class="newsdetail_inform-link">
                            iCheck tự hào được mời phát biểu tại Techfest 2022 khu vực Nam Trung Bộ và Tây Nguyên
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="container_shadow">
        <div class="container">
            <div class="footer-list">
                <div class="footer-form">
                <div class="footer-logo">
                    <img src="/img/img/logo (1).png" alt="">
                </div>
                <div class="footer-qr">
                    <p class="qr_type">Dành cho iOS</p>
                    <div class="form-qr_img">
                        <img src="/img/img/qrcode-iOS.png" alt="">
                        <a href="" class="footer-qr_link">
                            <img src="/img/img/logo-iOS.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="footer-qr">
                    <p class="qr_type">Dành cho iOS</p>
                    <div class="form-qr_img">
                        <img src="/img/img/qrcode-CHPlay.png" alt="">
                        <a href="" class="footer-qr_link">
                            <img src="/img/img/logo-CHPlay.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer-form">
                <div class="footer-form_item">
                    <img src="/img/img/icon-point.png" alt="">
                    <div class="footer-form_box">
                        <h3 class="footer-form_heading">Văn phòng miền Bắc</h3>
                        <p class="footer-form_desc">Tầng 12 Tòa nhà Diamond Flower, số 48 Lê Văn Lương, Khu đô thị mới
                        N1, phường Nhân Chính, quận Thanh Xuân, Hà Nội
                        </p>
                    </div>
                </div>
                <div class="footer-form_item">
                    <img src="/img/img/icon-point.png" alt="">
                    <div class="footer-form_box">
                        <h3 class="footer-form_heading">Văn phòng miền Bắc</h3>
                        <p class="footer-form_desc">Tầng 12 Tòa nhà Diamond Flower, số 48 Lê Văn Lương, Khu đô thị mới
                        N1, phường Nhân Chính, quận Thanh Xuân, Hà Nội
                        </p>
                    </div>
                </div>
                <div class="footer-form_item">
                    <img src="/img/img/icon-phone.png" alt="">
                    <p class="footer-form_desc">0902 195 488 - 0974 195 488</p>
                </div>
                <div class="footer-form_btn">
                    <a href="" class="footer-form_download">
                        Tải tài liệu về truy xuất nguồn gốc
                    </a>
                </div>
            </div>
            </div>
        </div>
    </div>
</footer>