<nav class="breadcrumb">
    <div class="container">
        <div class="row">
            <ol class="breadcrumb-left">
                <li class="breadcrumb-left_items">
                    <i class="fa-solid fa-house"></i>
                    <a href="/">Trang chủ</a>
                </li>
                <li class="breadcrumb-left_items pl-8">
                    <a href="/news">Tin tức</a>
                </li>
            </ol>
        </div>
    </div>
</nav>


<div class="container">
    <div class="header-news form-list">
        <div class="header-news_left">
            <a href="/news/newsdetail">
                <img class="header-news_left-img" src="/img/img/newsreader.png" alt="Phát biểu">
            </a>
        </div>
        <div class="header-news_right">
            <div class="header-news_box">
                <h3 class="header-news_heading">
                    <a href="/news/newsdetail" class="header-news_heading-link">
                        Góp mặt tại Diễn đàn Khuyến Nông, Nông nghiệp, iCheck chia sẻ chi tiết về ứng dụng truy xuất nguồn gốc theo tiêu chuẩn quốc gia
                    </a>
                </h3>
                <span class="header-news_time">
                    <i class="fa-regular fa-clock"></i>
                    31/10/2022
                </span>
                <p class="header-news_desc">
                    Ngày 26, 27-10, Trung tâm Khuyến nông Quốc gia phối hợp với các đơn vị liên quan tổ chức Diễn đàn Khuyến n&ocir...
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h2 class="content-news_header">
        Bảng tin
    </h2>
    <div class="form-list">
        <div class="form-item_col3">
            <a href="/news/newsdetail" class="content-news_link">
                <div class="form-item_product">
                    <div style="background-image: url(/img/img/news1.jpg);" class="form-item_img"></div>
                </div>
                <h3 class="form-item_heading">Xã Hà Long phát triển mô hình trồng ổi lê</h3>
            </a>
            <span class="header-news_time">
                <i class="fa-regular fa-clock"></i>
                31/12/2022
            </span> 
        </div> 
        <div class="form-item_col3">
            <a href="/news/newsdetail" class="content-news_link">
                <div class="form-item_product">
                    <div style="background-image: url(/img/img/news2.jpg);" class="form-item_img"></div>
                </div>
                <h3 class="form-item_heading">
                    iCheck tham gia bồi dưỡng doanh nghiệp tỉnh Nam Định ứng dụng công nghệ truy xuất nguồn gốc
                </h3>
            </a>
            <span class="header-news_time">
                <i class="fa-regular fa-clock"></i>
                31/12/2022
            </span> 
        </div> 
        <div class="form-item_col3">
            <a href="/news/newsdetail" class="content-news_link">
                <div class="form-item_product">
                    <div style="background-image: url(/img/img/news3.jpg);" class="form-item_img"></div>
                </div>
                <h3 class="form-item_heading">
                    [Góc nhìn iCheck] Báo Tuổi Trẻ phanh phui rau sạch dỏm: ‘Hô biến’ rau chợ thành rau 3 sạch!
                </h3>
            </a>
            <span class="header-news_time">
                <i class="fa-regular fa-clock"></i>
                31/12/2022
            </span> 
        </div> 
        <div class="form-item_col3">
            <a href="/news/newsdetail" class="content-news_link">
                <div class="form-item_product">
                    <div style="background-image: url(/img/img/news4.jpg);" class="form-item_img"></div>
                </div>
                <h3 class="form-item_heading">
                    iCheck tham gia hội thảo Xu hướng toàn cầu và Việt Nam: Quan điểm từ chiến lược xuất khẩu quốc gia
                </h3>
            </a>
            <span class="header-news_time">
                <i class="fa-regular fa-clock"></i>
                31/12/2022
            </span> 
        </div> 
        <div class="form-item_col3">
            <a href="/news/newsdetail" class="content-news_link">
                <div class="form-item_product">
                    <div style="background-image: url(/img/img/newsreader.png);" class="form-item_img"></div>
                </div>
                <h3 class="form-item_heading">
                    iCheck đồng hành cùng tỉnh Bắc Kạn tập huấn triển khai truy xuất nguồn gốc
                </h3>
            </a>
            <span class="header-news_time">
                <i class="fa-regular fa-clock"></i>
                31/12/2022
            </span> 
        </div> 
        <div class="form-item_col3">
            <a href="/news/newsdetail" class="content-news_link">
                <div class="form-item_product">
                    <div style="background-image: url(/img/img/news6.png);" class="form-item_img"></div>
                </div>
                <h3 class="form-item_heading">
                    iCheck tự hào được mời phát biểu tại Techfest 2022 khu vực Nam Trung Bộ và Tây Nguyên
                </h3>
            </a>
            <span class="header-news_time">
                <i class="fa-regular fa-clock"></i>
                31/12/2022
            </span> 
        </div> 
        <div class="form-item_col3">
            <a href="/news/newsdetail" class="content-news_link">
                <div class="form-item_product">
                    <div style="background-image: url(/img/img/news7.jpg);" class="form-item_img"></div>
                </div>
                <h3 class="form-item_heading">
                    Câu chuyện sản phẩm bưởi Phúc Trạch sinh thái Choa
                </h3>
            </a>
            <span class="header-news_time">
                <i class="fa-regular fa-clock"></i>
                31/12/2022
            </span> 
        </div> 
        <div class="form-item_col3">
            <a href="/news/newsdetail" class="content-news_link">
                <div class="form-item_product">
                    <div style="background-image: url(/img/img/news8.jpg);" class="form-item_img"></div>
                </div>
                <h3 class="form-item_heading">
                    Về quê, bán hết vàng cưới, cặp vợ chồng trẻ trồng bưởi sinh thái, nuôi ong làm giàu
                </h3>
            </a>
            <span class="header-news_time">
                <i class="fa-regular fa-clock"></i>
                31/12/2022
            </span> 
        </div>
         <div class="form-item_col3">
            <a href="/news/newsdetail" class="content-news_link">
                <div class="form-item_product">
                    <div style="background-image: url(/img/img/news9.png);" class="form-item_img"></div>
                </div>
                <h3 class="form-item_heading">
                    iCheck tập huấn cho hội liên hiệp phụ nữ về hoàn thiện sản phẩm, truy xuất nguồn gốc và bán hàng TMĐT
                </h3>
            </a>
            <span class="header-news_time">
                <i class="fa-regular fa-clock"></i>
                31/12/2022
            </span> 
        </div> 
        
        </div>
        <div class="form-page_next">
            <a href="" class="page-next_btn">
                Xem thêm
            </a>
        </div>
</div>

<footer>
    <div class="container_shadow">
        <div class="container">
            <div class="footer-list">
                <div class="footer-form">
                <div class="footer-logo">
                    <img src="/img/img/logo (1).png" alt="">
                </div>
                <div class="footer-qr">
                    <p class="qr_type">Dành cho iOS</p>
                    <div class="form-qr_img">
                        <img src="/img/img/qrcode-iOS.png" alt="">
                        <a href="" class="footer-qr_link">
                            <img src="/img/img/logo-iOS.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="footer-qr">
                    <p class="qr_type">Dành cho iOS</p>
                    <div class="form-qr_img">
                        <img src="/img/img/qrcode-CHPlay.png" alt="">
                        <a href="" class="footer-qr_link">
                            <img src="/img/img/logo-CHPlay.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer-form">
                <div class="footer-form_item">
                    <img src="/img/img/icon-point.png" alt="">
                    <div class="footer-form_box">
                        <h3 class="footer-form_heading">Văn phòng miền Bắc</h3>
                        <p class="footer-form_desc">Tầng 12 Tòa nhà Diamond Flower, số 48 Lê Văn Lương, Khu đô thị mới
                        N1, phường Nhân Chính, quận Thanh Xuân, Hà Nội
                        </p>
                    </div>
                </div>
                <div class="footer-form_item">
                    <img src="/img/img/icon-point.png" alt="">
                    <div class="footer-form_box">
                        <h3 class="footer-form_heading">Văn phòng miền Bắc</h3>
                        <p class="footer-form_desc">Tầng 12 Tòa nhà Diamond Flower, số 48 Lê Văn Lương, Khu đô thị mới
                        N1, phường Nhân Chính, quận Thanh Xuân, Hà Nội
                        </p>
                    </div>
                </div>
                <div class="footer-form_item">
                    <img src="/img/img/icon-phone.png" alt="">
                    <p class="footer-form_desc">0902 195 488 - 0974 195 488</p>
                </div>
                <div class="footer-form_btn">
                    <a href="" class="footer-form_download">
                        Tải tài liệu về truy xuất nguồn gốc
                    </a>
                </div>
            </div>
            </div>
        </div>
    </div>
</footer>
Viết cho Phô Mai
