:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #222;
    --primary-color: #ee4d2d;
    --blu-color: rgb(0, 102, 255);
    --grey-color: rgb(236, 236, 236);
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;  /*  10px */
    line-height: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.btn {
    border: none;
    min-width: 105px;
    height: 30px;
}

.btn-red {
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 3px;
}

.btn-blu {
    background-color: var(--blu-color);
    color: var(--white-color);
    border-radius: 3px;
}

.btn-green {
    background-color: rgb(47, 255, 78);
    color: var(--white-color);
    border-radius: 3px;
}

.btn-orange {
    background-color: orange;
    color: var(--white-color);
    border-radius: 3px;
}

.btn-green_reduct {
    background-color: rgba(136, 227, 0);
    color: var(--white-color);
    border-radius: 3px;
}

.btn-brown {
    background-color: rgb(135, 135, 135);
    color: var(--white-color);
    border-radius: 3px;
}