<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Truy Xuất Nông Sản</title>
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" /><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/css/css/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap" rel="stylesheet">
        <link rel="icon" href="/img/img/icons8-oak-tree-48.ico" type="image/x-icon" />
    </head>
    <body>
        <div class="main">

            <div class="header">
            <div class="header-home">
                <div class="container">
                    <div class="row pd-16-0">
                        <div class="mr-md-auto">

                            <nav class="header-nav row ">
                                <a class="header_logo" href="/">
                                    <img src="/img/img/logo.png" alt="">
                                </a>

                                <div class="">
                                    <ul class="header-nav_list row">
                                        <li class="header-nav_item">
                                            <a class="pd-8-16" href="">Trang Chủ Web</a>
                                        </li>   

                                        <li class="header-nav_item">
                                            <a class="pd-8-16" href="">Nhật Ký</a>
                                        </li>

                                        <li class="header-nav_item">
                                            <a class="pd-8-16" href="/product">Sản Phẩm</a>
                                        </li>

                                        <li class="header-nav_item">
                                            <a class="pd-8-16" href="">Vùng Sản Xuất</a>
                                        </li>

                                        <li class="header-nav_item">
                                            <a class="pd-8-16" href="">Tin Tức</a>
                                        </li>

                                        <li class="header-nav_item">
                                            <a class="pd-8-16" href="">Hỗ Trợ</a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>

                        <div class="header_group-btn">
                            <a href="/login" class="pd-8-12 btn-login color-white">ĐĂNG NHẬP</a>
                            <a href="/register" class="pd-8-12 btn-regis color-white">ĐĂNG KÝ</a>
                        </div>
                        
                    </div>
                </div>
            </div>
            
            <div class="header-bg-container">
                <div class="header-bg-img">
                    <div class="container">
                        <div class="banner row">
                            <div class="banner-left">
                                <div>
                                    <strong style="font-size: 40px; color: #F9F331; font-weight: 900 ; line-height: 55px; ">HỆ THỐNG</strong>
                                </div>
                                <div>
                                    <strong style="font-size: 40px; color: #F9F331; font-weight: 900 ; line-height: 55px;">TRUY XUẤT NGUỒN GỐC</strong>
                                </div>
                                <div>
                                    <strong class="color-white" style="font-size: 30px; line-height: 55px;">THEO TIÊU CHUẨN QUỐC GIA</strong>
                                </div>

                                <div class="banner_title color-white">
                                    Giải pháp dành cho nhà doanh nghiệp, các hợp tác xã thực hiện truy xuất nguồn gốc sản phẩm theo tiêu chuẩn quốc gia nhằm tăng giá trị và sự khác biệt so với các sản phẩm khác trên thị trường.
                                    <br>
                                    chứng nhận về chất lượng, nguồn gốc
                                </div>

                                <div class="banner_group-btn">
                                    <button class="pd-10-16 bg-red banner_btn">DÙNG THỬ MIỄN PHÍ</button>
                                    <button class="pd-10-16 bg-blue banner_btn">TÌM HIỂU THÊM</button>
                                </div>
                            </div>
                            <div class="banner-right">
                                <img src="/img/img/bg-home-1.png" alt="">
                            </div>

                            <div class="widget-container row">
                                <div class="pd-0-15 flex-1">
                                    <div class="widget row">
                                        <img class="widget_img" src="/img/img/icon3.png" alt="">
                                        <div class="widget_info">
                                            <span class="widget_title">08+</span>
                                            <span class="widget_des">Năm kinh nghiệm</span>
                                        </div>
                                    </div> 
                                </div>

                                <div class="pd-0-15 flex-1">
                                    <div class="widget row">
                                        <img class="widget_img" src="/img/img/icon4.png" alt="">
                                        <div class="widget_info">
                                            <span class="widget_title">6000+</span>
                                            <span class="widget_des">Đối tác và khách hàng</span>
                                        </div>
                                    </div> 
                                </div>

                                <div class="pd-0-15 flex-1">
                                    <div class="widget row">
                                        <img class="widget_img" src="/img/img/icon2.png" alt="">
                                        <div class="widget_info">
                                            <span class="widget_title">200.451</span>
                                            <span class="widget_des">Lượt quét Qrcode sản phẩm</span>
                                        </div>
                                    </div> 
                                </div>

                                <div class="pd-0-15 flex-1">
                                    <div class="widget row">
                                        <img class="widget_img" src="/img/img/icon1.png" alt="">
                                        <div class="widget_info">
                                            <span class="widget_title">5.421+</span>
                                            <span class="widget_des">Tải mobile app</span>
                                        </div>
                                    </div> 
                                </div>
                                
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            
            </div>
            {{{body}}}
        </div> 
    </body>
</html>