<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" /><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/css/css/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap" rel="stylesheet">

    </head>
    <body>
        <div class="main">

            <div class="">
            <div class="header-home">
                <div class="container">
                    <div class="row pd-16-0">
                        <div class="mr-md-auto">

                            <nav class="header-nav row ">
                                <a class="header_logo" href="/">
                                    <img src="/img/img/logo (1).png" alt="">
                                </a>

                                <div class="">
                                    <ul class="header-nav_list row">
                                        <li class="header-nav_item">
                                            <a class="pd-8-16 color-black" href="/">Trang Chủ Web</a>
                                        </li>   

                                        <li class="header-nav_item">
                                            <a class="pd-8-16 color-black" href="">Nhật Ký</a>
                                        </li>

                                        <li class="header-nav_item">
                                            <a class="pd-8-16 color-black" href="/product">Sản Phẩm</a>
                                        </li>

                                        <li class="header-nav_item">
                                            <a class="pd-8-16 color-black" href="">Vùng Sản Xuất</a>
                                        </li>

                                        <li class="header-nav_item">
                                            <a class="pd-8-16 color-black" href="">Tin Tức</a>
                                        </li>

                                        <li class="header-nav_item">
                                            <a class="pd-8-16 color-black" href="">Hỗ Trợ</a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>

                        <div class="header_group-btn">
                            <a href="/login" class="pd-8-12 btn-login color-black">ĐĂNG NHẬP</a>
                            <a href="/register" class="pd-8-12 btn-regis color-white">ĐĂNG KÝ</a>
                        </div>
                        
                    </div>
                </div>
            </div>
            
            </div>
            {{{body}}}
        </div> 
    </body>
</html>