 <div class="row page-titles mx-0">
    <div class="col p-md-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
            <li class="breadcrumb-item active"><a href="/admin/themttkd">Thêm sản Phẩm</a></li>
        </ol>
    </div>
</div>
            <!-- row -->

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Thêm Sản Phẩm</h4>
                    <div class="form-validation">
                        <form class="form-valide" action="/admin/addproduct" method="post" enctype="multipart/form-data">
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label" for="val-username">Tên Sản Phẩm<span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-6">
                                    <input  type="text" class="form-control" id="val-username" name="TenSanPham" required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label" for="val-username">Mô Tả<span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-6">
                                    <textarea name="MoTa" class="form-control h-150px" rows="6" id="comment"></textarea>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label" for="val-username">Công Dụng<span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-6">
                                    <textarea name="CongDung" class="form-control h-150px" rows="6" id="comment"></textarea>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label" for="val-username">Hướng Dẫn Sử Dụng<span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-6">
                                    <textarea name="HuongDanSuDung" class="form-control h-150px" rows="6" id="comment"></textarea>
                                </div>
                            </div>


                            <h4 class="card-title">Thành Phần</h4>
                            <div class="basic-form">
                                <div class="form-group" style="display:flex; flex-wrap:wrap;">
                                    {{#each data}}
                                        <div class="form-check mb-3" style="padding: 0 20px;">
                                            <label class="form-check-label">
                                            <input name="ThanhPhan" type="checkbox" class="form-check-input" value="{{this._id}}">{{this.TenNguyenLieu}}</label>
                                        </div>
                                    {{/each}}
                                    
                                </div>
                            </div>


                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label" for="val-username">Nơi Sản Xuất<span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-6">
                                    <input  type="text" class="form-control" id="val-username" name="NoiSanXuat" required>
                                </div>
                            </div>

                            <h4 class="card-title">Tải Ảnh Lên</h4>
                            <div class="basic-form">
                                <div>
                                    <div class="form-group">
                                        <input id="inputImg" name="Image" type="file" class="form-control-file">
                                    </div>
                                </div>
                            </div>

                            <img style="width: 400px;" id="imgPreview" src="" alt="">


                            <div class="form-group row">
                                <div class="col-lg-8 ml-auto">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    
    var inputImg = document.getElementById('inputImg')
    var imgPreview = document.getElementById('imgPreview')

    inputImg.onchange = function(e){
        const file = e.target.files[0]
        imgPreview.src = (URL.createObjectURL(file))

    }

</script>


<script src="/template/plugins/validation/jquery.validate.min.js"></script>
<script src="/template/plugins/validation/jquery.validate-init.js"></script>