<div class="row page-titles mx-0">
    <div class="col p-md-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
            <li class="breadcrumb-item active"><a href="/admin/quytrinhsanxuat">Danh Sách Quy Trình Sản Xuất</a></li>
        </ol>
    </div>
</div>

<div class="col">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Danh Sách Quy Trình Sản Xuất</h4>
            <div class="table-responsive">
                <table class="table table-bordered verticle-middle">
                    <thead>
                        <tr>
                            <th scope="col">Tên Quy Trình</th>
                            <th scope="col">Sản Phẩm</th>
                            <th scope="col">Mô tả</th>
                            <th style="text-align:center ;" scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Quy trình sx sản phẩm A</td>
                            <td>Sản Phẩm A</td>
                            <td>Được làm từ nguồn nguyên liệu tự nhiên...</td>
                            <td style="text-align: center;"><span><a href="#" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil color-muted m-r-5"></i> </a><a href="#" data-toggle="tooltip" data-placement="top" title="Close"><i class="fa fa-close color-danger"></i></a></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>