<div class="row page-titles mx-0">
    <div class="col p-md-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
            <li class="breadcrumb-item active"><a href="/admin/danhsachdonkd">Danh Sách Đơn Kiểm Định</a></li>
        </ol>
    </div>
</div>

<div class="col">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Danh Sách Đơn Kiểm Định</h4>
            <div class="table-responsive">
                <table class="table table-bordered verticle-middle">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Title</th>
                            <th scope="col">Trạng Thái</th>
                            <th scope="col">Doanh Nghiệp</th>
                            <th scope="col">Ngày Gửi</th>
                            <th style="text-align:center ;" scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Air Conditioner</td>
                            <td><span class="badge badge-success px-2">Sale</span></td>
                            <td>Doanh Nghiệp A</td>
                            <td>15/1/2012</td>
                            <td style="text-align: center;"><span><a href="#" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil color-muted m-r-5"></i> </a><a href="#" data-toggle="tooltip" data-placement="top" title="Close"><i class="fa fa-close color-danger"></i></a></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>