 <nav class="breadcrumb">
    <div class="container">
        <div class="row">
            <ol class="breadcrumb-left">
                <li class="breadcrumb-left_items">
                    <i class="fa-solid fa-house"></i>
                    <a href="/">Trang chủ</a>
                </li>
                <li class="breadcrumb-left_items pl-8">
                    <a href="/product">Sản phẩm</a>
                </li>
                <li class="breadcrumb-left_items pl-8">
                    <a href="/product/productdetail">Na dứa Đài Loan</a>
                </li>
            </ol>
        </div>
    </div>
</nav>


<div class="container">
    <div class="header-detail">
        <img class="header-detail_img" src="/img/img/sanpham8.jpg" alt="">
        <div class="header-detail_product">
            <h3 class="header-detail_name">Na dứa Đài Loan</h3>
            <span class="header-detail_price">Giá: Liên hệ</span>
        </div>
    </div>
    <div class="subheader-detail">
        <span class="detail-code">
            Mã sản phẩm
            <span class="detail-code_name">VNC7206655</span>
        </span>
        <span class="detail-address">
            Xuất xứ:
            <span class="detail-address_name">hợp tác xã nông sản sạch lạng sơn</span>
        </span>
    </div>
</div>

<div class="container_shadow no-padding">
    <div class="container">
        <div class="form-list no-margin">
            <div class="form-item no-margin">
                <a href="" class="form-deatail_link">
                    <img class="form-detail_icon" src="/img/img/tab-1-new.png" alt="">
                    <p class="form-detail_nameicon">Thông tin</p>
                </a>
            </div>
            <div class="form-item no-margin">
                <a href="" class="form-deatail_link">
                    <img class="form-detail_icon" src="/img/img/tab-2-new.png" alt="">
                    <p class="form-detail_nameicon">Giấy tờ</p>
                </a>
            </div>
            <div class="form-item no-margin">
                <a href="" class="form-deatail_link">
                    <img class="form-detail_icon" src="/img/img/tab-3-new.png" alt="">
                    <p class="form-detail_nameicon">Liên kết</p>
                </a>
            </div>
            <div class="form-item no-margin">
                <a href="" class="form-deatail_link">
                    <img class="form-detail_icon" src="/img/img/tab-4-new.png" alt="">
                    <p class="form-detail_nameicon">Nhật ký</p>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container_shadow">
    <div class="container">
        <div class="form-detail_content">
            <h3 class="form-detail_heading">Mô tả</h3>
            <p class="form-detail_desc">
                Na dứa Đài Loan hay còn được gọi là mãng cầu Đài Loan, được ví là "Nữ hoàng của các loại na" bở vị ngọt dễ chịu, thơm mát và chứa nhiều vitamin, khoáng chất tốt cho cơ thể
            </p>
        </div>
        <div class="form-detail_content">
            <h3 class="form-detail_heading">Thành phần</h3>
            <p class="form-detail_desc">
                Quả tươi
            </p>
        </div>
        <div class="form-detail_content">
            <h3 class="form-detail_heading">Công dụng</h3>
            <p class="form-detail_desc">
                Tốt cho mắt, da: Chứa nhiều Riboflavin và Vitamin C có tác dụng bảo vệ mắt, và làm đẹp da.
                <br> Tốt cho người bị bệnh hen: Chứa hàm lượng Vitamin B6 có tác dụng làm giảm các triệu chứng viêm phổi và giảm ho hiệu quả
                <br> Tốt cho tim mạch: Với hàm lượng Magie cao quả Na có tác dụng tốt cho những người bị bệnh tim, ngăn ngừa những cơn đau tim.
                <br> Tốt cho hệ tiêu hóa, và người bị tiểu đường: Hàm lượng chất xơ có tác dụng tốt cho hệ tiêu hóa, giảm chứng táo bón và làm giảm nguy cơ mắc các bệnh tiểu đường loại 2.
                <br> Làm giảm cholesterol trong máu: Có tác dụng làm giảm lượng Cholesterol trong máu nhờ hàm lượng chất xơ và niacin chứa trong quả na dồi dào.
                <br> Tốt cho người bị thiếu máu: Với hàm lượng chất sắt cao, Na dứa rất tốt cho những người bị bệnh thiếu máu
                <br> Ổn định huyết áp: Trong Na giàu Kali và Magie có tác dụng điều hòa huyết áp, giữ cho huyết áp ổn định.
                <br> Ngăn ngừa ung thư: Hợp chất Acetogenin có tác dụng rất tốt trong việc điều trị các thương tổn của tiền ung thư da, ngăn ngừa nguy cơ mắc ung thư da cũng như các bệnh ung thư khác.
            </p>
        </div>
        <div class="form-detail_content">
            <h3 class="form-detail_heading">Hướng dẫn sử dụng</h3>
            <p class="form-detail_desc">
                Quả chín bóc vỏ ăn trực tiếp hoặc dùng làm sinh tố
            </p>
        </div>
        <div class="form-detail_content">
            <h3 class="form-detail_heading">Điều kiện bảo quản</h3>
            <p class="form-detail_desc">
                Bảo quản ở trong ngăn mát tủ lạnh, đựng trong túi bóng, hộp nhựa hoặc giấy báo gói kín
            </p>
        </div>
    </div>
</div>

<footer>
    <div class="container_shadow">
        <div class="container">
            <div class="footer-list">
                <div class="footer-form">
                <div class="footer-logo">
                    <img src="/img/img/logo (1).png" alt="">
                </div>
                <div class="footer-qr">
                    <p class="qr_type">Dành cho iOS</p>
                    <div class="form-qr_img">
                        <img src="/img/img/qrcode-iOS.png" alt="">
                        <a href="" class="footer-qr_link">
                            <img src="/img/img/logo-iOS.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="footer-qr">
                    <p class="qr_type">Dành cho iOS</p>
                    <div class="form-qr_img">
                        <img src="/img/img/qrcode-CHPlay.png" alt="">
                        <a href="" class="footer-qr_link">
                            <img src="/img/img/logo-CHPlay.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer-form">
                <div class="footer-form_item">
                    <img src="/img/img/icon-point.png" alt="">
                    <div class="footer-form_box">
                        <h3 class="footer-form_heading">Văn phòng miền Bắc</h3>
                        <p class="footer-form_desc">Tầng 12 Tòa nhà Diamond Flower, số 48 Lê Văn Lương, Khu đô thị mới
                        N1, phường Nhân Chính, quận Thanh Xuân, Hà Nội
                        </p>
                    </div>
                </div>
                <div class="footer-form_item">
                    <img src="/img/img/icon-point.png" alt="">
                    <div class="footer-form_box">
                        <h3 class="footer-form_heading">Văn phòng miền Bắc</h3>
                        <p class="footer-form_desc">Tầng 12 Tòa nhà Diamond Flower, số 48 Lê Văn Lương, Khu đô thị mới
                        N1, phường Nhân Chính, quận Thanh Xuân, Hà Nội
                        </p>
                    </div>
                </div>
                <div class="footer-form_item">
                    <img src="/img/img/icon-phone.png" alt="">
                    <p class="footer-form_desc">0902 195 488 - 0974 195 488</p>
                </div>
                <div class="footer-form_btn">
                    <a href="" class="footer-form_download">
                        Tải tài liệu về truy xuất nguồn gốc
                    </a>
                </div>
            </div>
            </div>
        </div>
    </div>
</footer>
