 <nav class="breadcrumb">
    <div class="container">
        <div class="row breadcrumb__flex">
            <ol class="breadcrumb-left">
                <li class="breadcrumb-left_items">
                    <i class="fa-solid fa-house"></i>
                    <a href="/">Trang Chủ</a>
                </li>
                <li class="breadcrumb-left_items pl-8">
                    <a href="">Sản Phẩm</a>
                </li>
            </ol>
            <div class="breadcrumb-right">
                <form action="">
                    <input class="breadcrumb-right_input" type="text" placeholder="Tìm Kiếm">
                    <button class="breadcrumb-right_searchbtn"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
        </div>
    </div>
        
</nav>

<div class="bg-green">
    <div class="container">
        <div class="product-header">
            <h1 class="text-center color-white">Sản phẩm</h1>
        </div>
    </div>
</div>


<div class="container">
    <div class="form-list">

        {{#each data}}
        <div class="form-item">
            <div class="form-item_product">
                <img src="/img/img/sanpham1.jpg" alt="anh" class="form-item_img">
                <div class="form-item_position">
                    <a href="/product/{{this._id}}" class="form-item_position-link">Chi tiết</a>
                </div>
            </div>
            <h3 class="form-item_heading">{{this.TenSanPham}}</h3>
            <p class="form-item_desc">{{this._id}}</p>
        </div> 
        {{/each}}
        

    </div>

    <div class="form-page_next">
        <button class="page-next_btn">
            Xem thêm
        </button>
    </div>
</div>

<footer>
    <div class="footer" style="padding:20px 0 ;">
        <div class="container">
            <div class="footer-list">
                <div class="footer-form">
                <div class="footer-logo">
                    <img src="/img/img/logo (1).png" alt="">
                </div>
                <div class="footer-qr">
                    <p class="qr_type">Dành cho iOS</p>
                    <div class="form-qr_img">
                        <img src="/img/img/qrcode-iOS.png" alt="">
                        <a href="" class="footer-qr_link">
                            <img src="/img/img/logo-iOS.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="footer-qr">
                    <p class="qr_type">Dành cho iOS</p>
                    <div class="form-qr_img">
                        <img src="/img/img/qrcode-CHPlay.png" alt="">
                        <a href="" class="footer-qr_link">
                            <img src="/img/img/logo-CHPlay.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer-form">
                <div class="footer-form_item">
                    <img src="/img/img/icon-point.png" alt="">
                    <div class="footer-form_box">
                        <h3 class="footer-form_heading">Văn phòng miền Bắc</h3>
                        <p class="footer-form_desc">Tầng 12 Tòa nhà Diamond Flower, số 48 Lê Văn Lương, Khu đô thị mới
                        N1, phường Nhân Chính, quận Thanh Xuân, Hà Nội
                        </p>
                    </div>
                </div>
                <div class="footer-form_item">
                    <img src="/img/img/icon-point.png" alt="">
                    <div class="footer-form_box">
                        <h3 class="footer-form_heading">Văn phòng miền Bắc</h3>
                        <p class="footer-form_desc">Tầng 12 Tòa nhà Diamond Flower, số 48 Lê Văn Lương, Khu đô thị mới
                        N1, phường Nhân Chính, quận Thanh Xuân, Hà Nội
                        </p>
                    </div>
                </div>
                <div class="footer-form_item">
                    <img src="/img/img/icon-phone.png" alt="">
                    <p class="footer-form_desc">0902 195 488 - 0974 195 488</p>
                </div>
                <div class="footer-form_btn">
                    <a href="" class="footer-form_download">
                        Tải tài liệu về truy xuất nguồn gốc
                    </a>
                </div>

                
            </div>
            </div>
        </div>
    </div>
</footer>

