
<div class="home">
<div class="intro-home">
    <div class="intro-home_bgimg">
        <div class="container">
            <div class="">
                <div class="intro-home-container row">
                    <div class="intro-home_left flex-1 pd-0-15">
                        <div class="intro-home_left-img">
                            <img src="/img/img/image-logo.png" alt="">
                        </div>
                        <div class="text-info-home">
                            <p>
                                Giải pháp Truy xuất nguồn gốc của chúng tôi dành cho các doanh nghiệp muốn tăng giá trị sản phẩm & uy tín bằng cách chuẩn hóa và minh bạch toàn bộ quá trình sản xuất và phân phối. Chúng tôi cung cấp tính năng về Nhật ký sản xuất, Nhật ký giao dịch, thông tin vùng nguyên liệu, lô trồng, lô thu hoạch, quá trình phân phối xuyên suốt và đồng nhất. Khác với các dạng truy xuất nguồn gốc khác, giải pháp iCheck Trace được xây dựng bài bản theo chuẩn quốc gia kết hợp với công nghệ blockchain, tận dụng lợi thế của công ty công nghệ giúp hệ thống minh bạch, ổn định, sử dụng thuận tiện. Giải pháp đã và đang hợp tác với nhiều Sở Nông Nghiệp các tỉnh & tập đoàn lớn trên cả nước.
                            </p>
                        </div>
                    </div>
                    <div class="intro-home_right flex-1 pd-0-15">
                        <img src="/img/img/image-intro.png" alt="">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="intro-home">
    
    <div class="container">
        <div class="">
            <div class="intro-home_title pd-15 ">
                <h1 class="text-green">
                    Triển Khai Truy Xuất Nguồn Gốc Với
                </h1>

                <h1>
                    iCheck Trace Có Gì Đặc Biệt?
                </h1>
            </div>

            <div class="row intro-home-container">
                <div class="intro-home_left flex-1 pd-0-15">
                    
                    <div class="intro-home_des-container">
                        <h4>Hệ thống thiết kế theo tiêu chuẩn quốc gia và chuẩn GS1</h4>
                        <div class="intro-home_des-content">
                            <div class="intro-home_des-item row pd-10-0">
                                <img src="/img/img/vector.png" alt="">
                                <p>Hệ thống iCheck trace đảm bảo tiêu chuẩn TCVN quốc gia và chuẩn GS1 toàn cầu.</p>
                            </div>

                            <div class="intro-home_des-item row pd-10-0">
                                <img src="/img/img/vector.png" alt="">
                                <p>Nhật ký điện tử của iCheck trace dễ dàng sử dụng và đáp ứng tiêu chuẩn sản xuất như VietGAP, GlobalGAP.</p>
                            </div>

                            <div class="intro-home_des-item row pd-10-0">
                                <img src="/img/img/vector.png" alt="">
                                <p>Toàn bộ quá trình từ sản xuất như xuống giống, bón phân, xử lý dịch hại, chăm sóc cây trồng vật nuôi, thu hoạch, vận chuyển, sơ chế, đóng gói đều được lưu trữ và minh bạch từ khấu sản xuất tới người tiêu dùng.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="intro-home_right flex-1 pd-0-15">
                    <img src="/img/img/img-section1.png" alt="">
                </div>
            </div>
        </div>

    </div>
    
</div>

<div class="intro-home">
    
    <div class="container">
        <div class="">
            <div class="row intro-home-container">

                <div class="intro-home_right flex-1 pd-0-15">
                    <img src="/img/img/img-section5-home.png" alt="">
                </div>
                
                <div class="intro-home_left flex-1 pd-0-15">
                    
                    <div class="intro-home_des-container">
                        <h4>Ứng dụng công nghệ Blockchain</h4>
                        <div class="intro-home_des-content">
                            <div class="intro-home_des-item row pd-10-0">
                                <img src="/img/img/vector.png" alt="">
                                <p>Sử dụng thuật toán blockchain theo tiêu chuẩn của IBM.</p>
                            </div>

                            <div class="intro-home_des-item row pd-10-0">
                                <img src="/img/img/vector.png" alt="">
                                <p>Giúp mình bạch tuyệt đối, 100% với khách hàng và đối tác.</p>
                            </div>

                            <div class="intro-home_des-item row pd-10-0">
                                <img src="/img/img/vector.png" alt="">
                                <p>Toàn bộ thông tin doanh nghiệp, chứng nhận, nhật ký sản xuất, nhật ký giao dịch sẽ được ghi nhận vào blockchain.</p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="pd-35 text-center">
                <a class="btn-reg-demo" href="">ĐĂNG KÝ DÙNG THỬ MIỄN PHÍ</a>
            </div>
        </div>

    </div>
    
</div>

<div class="intro-home">
    
    <div class="container">
        <div class="">
            <div class="intro-home-container row">
                
                <div class="intro-home_left flex-1 pd-0-15">
                    
                    <div class="intro-home_des-container">
                        <h4>Tem truy xuất bảo mật an toàn, quản lý tem dễ dàng</h4>
                        <div class="intro-home_des-content">
                            <div class="intro-home_des-item row pd-10-0">
                                <img src="/img/img/vector.png" alt="">
                                <p>Dễ dàng khởi tạo sản phẩm, lô hàng và quản lý tem.</p>
                            </div>

                            <div class="intro-home_des-item row pd-10-0">
                                <img src="/img/img/vector.png" alt="">
                                <p>Tem truy xuất nguồn gốc của iCheck được tích hợp với tem chống giả, đảm báo đối thủ không thể sao chép con tem, làm giả thông tin sản phẩm.</p>
                            </div>

                            <div class="intro-home_des-item row pd-10-0">
                                <img src="/img/img/vector.png" alt="">
                                <p>Chủ động khóa tem từ xa khi có cảnh báo hàng giả.</p>
                            </div>

                            <div class="intro-home_des-item row pd-10-0">
                                <img src="/img/img/vector.png" alt="">
                                <p>Tem đạt tiêu chuẩn xuất khẩu và hỗ trợ đa ngôn ngữ, phù hợp với sản phẩm xuất khẩu ra thị trường nước ngoài...</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="intro-home_right flex-1 pd-0-15">
                    <img src="/img/img/img-section3-home.png" alt="">
                </div>
                
            </div>

        </div>

    </div>
    
</div>

<div class="intro-home">
    <div class="home-regis_bg pt-65">
        <div class="container">
            <div class="">
                <div class="row intro-home-container">
                    
                    <div class=" flex-1 pd-0-15">
                        
                        <div class="intro-home_des-container">
                            <h4 class="home-regis_title">Ưu Đãi Đặc Biệt Khi Hợp Tác Với iCheck</h4>
                            <div class="home-regis_content">
                                <div class="home-reigs_item row">
                                    <img src="/img/img/icon-box.png" alt="">
                                    <div class="col y-center">
                                        <p class="home-regis_text-one">Giảm 30%</p>
                                        <p class="home-regis_text-two">Khi mua 2 gói trở lên</p>
                                    </div>
                                </div>

                                <div class="home-reigs_item row">
                                    <img src="/img/img/icon-free.png" alt="">
                                    <div class="col y-center">
                                        <p class="home-regis_text-one">Miễn phí 100% tem lô hàng</p>
                                        <p class="home-regis_text-two">trong quá trình khởi tạo và thu hoạch</p>
                                    </div>
                                </div>

                                <div class="home-reigs_item row">
                                    <img src="/img/img/icon-free.png" alt="">
                                    <div class="col y-center">
                                        <p class="home-regis_text-one">Miễn phí thiết kế tem và in ấn tem, nhãn</p>
                                        <p class="home-regis_text-two">với chi phí rẻ</p>
                                    </div>
                                </div>

                                <div class="home-reigs_item row">
                                    <img src="/img/img/icon-free.png" alt="">
                                    <div class="col y-center">
                                        <p class="home-regis_text-one">Miễn phí cấp giấy chứng nhận</p>
                                        <p class="home-regis_text-two">thực hiện theo tiêu chuẩn TXNG từ iCheck</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class=" flex-1 pd-0-15">
                        <div class="form-regis-container">
                            <h4 class="text-center color-blue form-regis_header">Nhận tư vấn dịch vụ Truy xuất nguồn gốc iCheck</h4>
                            <form action="" class="mt-25">
                                <div class="form-regis_input-contain">
                                    <input required type="text" placeholder="Họ Và Tên">
                                </div>

                                <div class="form-regis_input-contain">
                                    <input required type="text" placeholder="Số Điện Thoại">
                                </div>

                                <div class="form-regis_input-contain">
                                    <input required type="text" placeholder="Email">
                                </div>

                                <div class="form-regis_input-contain">
                                    <input required type="text" placeholder="Tên Doanh Nghiệp">
                                </div>

                                <button class="form-regis_button">ĐĂNG KÝ NGAY</button>
                            </form>
                        </div>
                    </div>
                    
                </div>

            </div>
        </div>
    </div>
    
    
</div>
</div>
