@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@100;300;400;500&family=Source+Sans+Pro:wght@200;300;400&display=swap');



* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.main{
    min-height: 10000px;
}
button{
    cursor: pointer;
}
.col{
    display: flex;
    flex-direction: column;
}
.y-center{
    justify-content: center;
}
.color-white{
    color: #fff !important;
}
.color-black {
    color: #000 !important;
}
.color-blue{
    color: #207CB8 !important;
}
.bg-red{
    background: linear-gradient(180deg, #FC2F2F 0%, #DA2727 90.62%, #FC2F2F 100%);
}
.bg-blue{
    background: linear-gradient(180deg, #47A2DD 0%, #207CB8 100%);
}
.bg-green{
    background: linear-gradient(112.4deg, #5AB847 14.83%, #298D3F 92.67%);
}
.text-center{
    text-align: center;
}
.text-green{
    color: #33B44A !important;
}
.mt-75{
    margin-top: 75px !important;
}
.mt-60{
    margin-top: 60px !important;
}
.mt-25{
    margin-top: 25px !important;
}
.mr-md-auto, .mx-md-auto {
    margin-right: auto!important;
}
.pt-65{
    padding-top: 65px !important;
}
.pt-75{
    padding-top: 75px !important;
}
.pd-35{
    padding: 35px !important;
}
.pd-15{
    padding: 15px !important;
}
.pd-10-16{
    padding: 10px 16px !important;
}
.pd-10-0{
    padding: 10px 0px !important;
}
.pd-16-0{
    padding: 16px 0px;
}
.pd-8-16{
    padding: 8px 16px !important;
}
.pd-8-12{
    padding: 8px 12px !important;
}
.pd-0-15{
    padding: 0px 15px !important;
}
.pl-8{
    padding-left: 8px !important;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.flex-1{
    flex: 1;
}
.row{
    display: flex;
    flex-direction: row;
}
.header-home{
    position: relative;
    width: 100%;
    z-index: 99;
}
.header{
    position: relative;
    background: linear-gradient(256.66deg, #207CB8 -1.09%, #33B44A 96.55%);
}
.header-nav{
    position: relative;
    display: flex;
    align-items: center;
}

.header_logo{
    width: 167px;
    aspect-ratio: auto 167 / 43;
    height: 43px;
}
.header-nav_list{
    list-style-type: none;

}
.header-nav_item a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 14px;

}
.header_group-btn{
    padding: 10px 0px;
}

.btn-login{
    border-radius: 4px;
    padding: 8px 10px;
    background: transparent;
    border: 1px solid #fff;
    font-size: 14px;
}
.btn-regis{
    border-radius: 4px;
    padding: 8px 12px;
    background: linear-gradient(256.66deg, #33B44A -1.09%, #096812 96.55%);
    border: 1px solid #096812;
    color: #fff;
    font-size: 14px;
}
.btn-login:hover , .btn-regis:hover{
    opacity: 0.85;
}
.header-bg-container{
    margin-top: -75px;
}
.header-bg-img{
    background: url(https://trace.icheck.vn/assets/images2/bg-slider-home.png) center no-repeat;
    height: 650px;
}
.banner{
    padding-top: 120px;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}
.banner-left{
    flex: 1;
}
.banner-right{
    flex: 1;
}
.banner-right img{
    height: 500px;
    margin-right: 15px;
    float: right;
}
.banner_title{
    margin: 24px 0px;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
}
.banner_btn{
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    padding: 10px 16px;
    border-radius: 4px;
    font-size: 16px;
    border: none;
    outline: none;
}
.banner_btn:hover{
    opacity: 0.9;
}
.banner_btn:last-child{
    margin-left: 20px;
}
.widget-container{
    position: absolute;
    bottom: -14%;
    width: 100%;
}
.widget{
    padding: 24px;
    background-color: #fff;
    box-shadow: 0px 10px 20px rgb(0 0 0 / 10%);
    border-radius: 8px;
    height: 116px;
    align-items: center;
}
.widget_img{
    width: 44px;
}
.widget_info{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
.widget_title{
    font-size: 30px;
    font-weight: 700;
    color: #33B44A;
}
.widget_des{
    font-size: 14px;

}
.home{
    margin-top: 60px;
}
.intro-home{
    padding-top: 65px;
}
.intro-home_bgimg{
    background-image: url(https://trace.icheck.vn/assets/images2/bg-intro-home.png);
    background-repeat: no-repeat;
    background-position: right;
}

.intro-home_left-img{
    margin-top: 65px;
}
.text-info-home {
    line-height: 1.6;
    margin-top: 24px;
    font-size: 18px;
    text-align: justify;
}
.intro-home_title{
    text-align: center;
}
.intro-home_title h1{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: #207CB8;
    margin-bottom: 8px;
}
.intro-home_des-container{
    margin-top: 35px;
}
.intro-home_des-container h4{
    font-size: 20px;
    color: #1A1A1A;
    line-height: 1.2;
    margin-bottom: 8px;
}
.intro-home_des-content{
    margin-top: 20px;
}

.intro-home_right img{
    width: 100%;
}
.intro-home_des-item img{
    width: 22px;
    height: 22px;
}
.intro-home_des-item p {
    margin-bottom: 0;
    margin-left: 15px;
    font-weight: 400;
    font-size: 16px;
    color: #828282;
}

.btn-reg-demo {
    margin-top: 25px;
    display: inline-block;
    background: linear-gradient(180deg, #FC2F2F 0%, #DA2727 90.62%, #FC2F2F 100%);
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 4px;
    font-size: 16px;
}


.home-regis_bg {
    background: url('https://trace.icheck.vn/assets/images2/bg-form-reg-home.png'), linear-gradient(256.66deg, #207CB8 -1.09%, #33B44A 96.55%);
    margin-top: 85px;
    padding-top: 65px;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
}
.home-regis_title{
    font-weight: 700 !important;
    font-size: 32px !important;
    color: #F9F331 !important;
    margin-bottom: 8px !important;
} 
.home-reigs_item img{
    width: 75px;

}
.home-regis_text-one{
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 1.5;
}
.home-regis_text-two{
    font-weight: 400;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
    line-height: 1.5;
}
.home-regis_content{
    padding-bottom: 60px;
}
.form-regis-container{
    padding: 32px 32px 48px 32px;
    background: #fff;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.25);
    border-radius: 20px 20px 20px 20px;
}
.form-regis_header{
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 8px;
}
.form-regis_input-contain{
    margin-bottom: 5px;
    padding-bottom: 15px;
    position: relative;
}
.form-regis_input-contain input{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
}

.form-regis_button {
    cursor: pointer;
    background: linear-gradient(180deg, #FC2F2F 0%, #DA2727 90.62%, #FC2F2F 100%);
    border-radius: 4px;
    color: #fff;
    display: block;
    padding: 10px;
    font-size: 16px;
    margin-top: 20px;
    width: 100%;
    border: none;
    outline: none;
}

.breadcrumb{
    padding: 5px 0px;
    background-color: #F2F4F5;

}
.breadcrumb-left{
    padding: 12px 16px;
    display: flex;
    margin-right: auto;
    list-style: none;
}
.breadcrumb-left_items:first-child::before{
    content: "" !important;
}

.breadcrumb-left_items::before{
    content: ">";
    display: inline-block;
    padding-right: 0.5rem;
    color: #6c757d;
}
.breadcrumb-left_items i {
    font-size: 14px;
    color: #333;
}
.breadcrumb-left_items a {
    color: #333 ;
    font-size: 14px;
}
.breadcrumb-left_items a:hover{
    color: #FF7B17; 
}
.breadcrumb-right{
    width: 304px;
    height: 36px;
    padding: 5px 0 0 10px;
    background: #fff;
    border: 1px solid #E0E0E0;
    border-radius: 18px;
    position: relative;
    margin: 5px 0 0;
}
.breadcrumb-right_input{
    width: 90%;
    background: none;
    height: 25px;
    outline: none;
    border: none;
}
.breadcrumb-right_searchbtn{
    background: none;
    border: none;
}
.product-header {
    padding: 48px 15px;
}
.product-header h1{
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: 40px;
}


/* product */

.form-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 40px;
}

.form-item {
    flex: 0 0 25%;
    max-width: 25%;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 30px;
}

.form-item_product {
    position: relative;
}

.form-item_product:hover .form-item_position{
    display: block;
}

.form-item_position {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    line-height: 204px;
    text-align: center;
    display: none;
}

.form-item_position-link {

    font-size: 16px;
    color: #FFFFFF;
    font-weight: 500;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 8px 12px;
}

.form-item_img {
    width: 100%;
    height: 200px;
    border-radius: 3px;
}

.form-item_heading {
    font-size: 18px;
    font-weight: 500;
    margin: 4px 0;
}

.form-item_desc {
    font-size: 16px;
    font-weight: 400;
    margin-top: 8px;
}

.form-page_next {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.page-next_btn {
    padding: 8px 12px;
    background-color: #56af44;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
}

.footer {
    margin-top: 30px;
    padding: 40px 0;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.05);
}

.footer-list {
    display: flex;
}

.footer-form {
    width: 50%;
    padding: 0 10px;
}

.footer-logo img{
    height: 52px;
    width: auto;
}

.footer-qr {
    margin: 16px 0;
}

.qr_type {
    font-size: 14px;
}

.form-qr_img {
    display: flex;
    align-items: center;
}

.form-qr_img img{
    width: 70px;
    margin: 4px 4px 0 0;
}

.footer-qr_link img{
    height: 40px;
    width: auto;
}

.footer-form_item {
    display: flex;
    padding: 8px 0;
}

.footer-form_item img{
    width: 20px;
    height: 20px;
    margin-right: 20px;
    margin-top: 1px;
}

.footer-form_heading {
    color: #33b44a;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.footer-form_desc {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4;
    width: 90%;
}

.footer-form_btn {
    width: 100%;
    margin-top: 24px;
}

.footer-form_download {
    text-align: center;
    display: block;
    padding: 14px 40px;
    text-decoration: none;
    background-color: #33b44a ;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border-radius: 30px;
}