<nav class="breadcrumb">
    <div class="container">
        <div class="row">
            <ol class="breadcrumb-left">
                <li class="breadcrumb-left_items">
                    <i class="fa-solid fa-house"></i>
                    <a href="/">Trang Chủ</a>
                </li>
                <li class="breadcrumb-left_items pl-8">
                    <a href="">Vùng Sản Xuất</a>
                </li>
            </ol>
            <div class="breadcrumb-right">
                <form action="">
                    <input class="breadcrumb-right_input" type="text" placeholder="Tìm Kiếm">
                    <button class="breadcrumb-right_searchbtn"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
        </div>
    </div>
        
</nav>

<div class="bg-green">
    <div class="container">
        <div class="product-header">
            <h1 class="text-center color-white">Vùng Sản Xuất</h1>
        </div>
    </div>
</div>


<div class="container">
    <div class="form-list">
        <div class="form-item">
            <div class="form-item_product">
                <img src="/img/img/origin1.jpg" alt="anh" class="form-item_img">
                <div class="form-item_position">
                    <a href="/productOrigin/productOriginDetail" class="form-item_position-link">Chi tiết</a>
                </div>
            </div>
            <h3 class="form-item_heading">Hợp Tác Xã Đoàn Kết</h3>
        </div> 
        <div class="form-item">
            <div class="form-item_product">
                <img src="/img/img/origin2.jpg" alt="anh" class="form-item_img">
                <div class="form-item_position">
                    <a href="/productOrigin/productOriginDetail" class="form-item_position-link">Chi tiết</a>
                </div>
            </div>
            <h3 class="form-item_heading">Vùng sản xuất Đạ Ròn, Đơn Đương, Đức Trọng, Lâm Đồng, Việt Nam</h3>
        </div> 
        <div class="form-item">
            <div class="form-item_product">
                <img src="/img/img/origin3.png" alt="anh" class="form-item_img">
                <div class="form-item_position">
                    <a href="/productOrigin/productOriginDetail" class="form-item_position-link">Chi tiết</a>
                </div>
            </div>
            <h3 class="form-item_heading">Cánh đồng Mường Chanh, Mai Sơn, Sơn La</h3>
        </div> 
        <div class="form-item">
            <div class="form-item_product">
                <img src="/img/img/origin4.png" alt="anh" class="form-item_img">
                <div class="form-item_position">
                    <a href="/productOrigin/productOriginDetail" class="form-item_position-link">Chi tiết</a>
                </div>
            </div>
            <h3 class="form-item_heading">Nông Trường WinEco Củ Chi</h3>
        </div> 
        <div class="form-item">
            <div class="form-item_product">
                <img src="/img/img/origin5.jpg" alt="anh" class="form-item_img">
                <div class="form-item_position">
                    <a href="/productOrigin/productOriginDetail" class="form-item_position-link">Chi tiết</a>
                </div>
            </div>
            <h3 class="form-item_heading">Vùng Dược Liệu Hợp Hòa, Sơn Dương, Tuyên Quang</h3>
        </div> 
        <div class="form-item">
            <div class="form-item_product">
                <img src="/img/img/origin.jpg" alt="anh" class="form-item_img">
                <div class="form-item_position">
                    <a href="/productOrigin/productOriginDetail" class="form-item_position-link">Chi tiết</a>
                </div>
            </div>
            <h3 class="form-item_heading">Trang trại hữu cơ Thanh Tùng NB</h3>
            <p class="form-item_desc">Đang cập nhật</p>
        </div> 
        <div class="form-item">
            <div class="form-item_product">
                <img src="/img/img/origin7.jpg" alt="anh" class="form-item_img">
                <div class="form-item_position">
                    <a href="/productOrigin/productOriginDetail" class="form-item_position-link">Chi tiết</a>
                </div>
            </div>
            <h3 class="form-item_heading">Hợp Tác Xã Dịch Vụ Nông Sản Bình Sơn</h3>
        </div> 
        <div class="form-item">
            <div class="form-item_product">
                <img src="/img/img/origin8.jpg" alt="anh" class="form-item_img">
                <div class="form-item_position">
                    <a href="" class="form-item_position-link">Chi tiết</a>
                </div>
            </div>
            <h3 class="form-item_heading">Bến Tre-Tiền Giang-Vĩnh Long-Cần Thơ</h3>
        </div> 
        </div>
        <div class="form-page_next">
            <a href="" class="page-next_btn">
                Xem thêm
            </a>
        </div>
</div>

<footer>
    <div class="container_shadow">
        <div class="container">
            <div class="footer-list">
                <div class="footer-form">
                <div class="footer-logo">
                    <img src="/img/img/logo (1).png" alt="">
                </div>
                <div class="footer-qr">
                    <p class="qr_type">Dành cho iOS</p>
                    <div class="form-qr_img">
                        <img src="/img/img/qrcode-iOS.png" alt="">
                        <a href="" class="footer-qr_link">
                            <img src="/img/img/logo-iOS.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="footer-qr">
                    <p class="qr_type">Dành cho iOS</p>
                    <div class="form-qr_img">
                        <img src="/img/img/qrcode-CHPlay.png" alt="">
                        <a href="" class="footer-qr_link">
                            <img src="/img/img/logo-CHPlay.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer-form">
                <div class="footer-form_item">
                    <img src="/img/img/icon-point.png" alt="">
                    <div class="footer-form_box">
                        <h3 class="footer-form_heading">Văn phòng miền Bắc</h3>
                        <p class="footer-form_desc">Tầng 12 Tòa nhà Diamond Flower, số 48 Lê Văn Lương, Khu đô thị mới
                        N1, phường Nhân Chính, quận Thanh Xuân, Hà Nội
                        </p>
                    </div>
                </div>
                <div class="footer-form_item">
                    <img src="/img/img/icon-point.png" alt="">
                    <div class="footer-form_box">
                        <h3 class="footer-form_heading">Văn phòng miền Bắc</h3>
                        <p class="footer-form_desc">Tầng 12 Tòa nhà Diamond Flower, số 48 Lê Văn Lương, Khu đô thị mới
                        N1, phường Nhân Chính, quận Thanh Xuân, Hà Nội
                        </p>
                    </div>
                </div>
                <div class="footer-form_item">
                    <img src="/img/img/icon-phone.png" alt="">
                    <p class="footer-form_desc">0902 195 488 - 0974 195 488</p>
                </div>
                <div class="footer-form_btn">
                    <a href="" class="footer-form_download">
                        Tải tài liệu về truy xuất nguồn gốc
                    </a>
                </div>
            </div>
            </div>
        </div>
    </div>
</footer>