<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="form-profile">
            <div class="profile_header">
                <div class="profile-ava">
                    <div style="background-image: url(/img/img/lop12b4.jpg);" class="profile-ava-img"></div>
                </div>
                <div class="profile-name">
                    <div class="profile-name_left">
                        <div class="profile-name_left-face">
                            <div style="background-image: url(/img/img/lop12b4.jpg);" class="profile-name_left-img"></div>
                        </div>
                        <div class="profile-name_left-info">
                            <h1 class="profile-name_left-name">Phô Mai</h1>
                            <span class="profile-name_left-staff">465 nhân viên</span>
                        </div>
                    </div>
                    <div class="profile-name_right">
                        <div class="profile-name_btn">
                            <a href="" class="btn-profile profile-name_btn-add profile-blue">
                                <div class="profile-name_btn-icon">
                                    <i class="fa-solid fa-plus"></i>
                                </div>
                                Thêm sản phẩm
                            </a>
                            <a href="" class="btn-profile profile-name_btn-update profile-grey">
                                <i class="fa-solid fa-pen"></i>
                                Chỉnh sửa trang cá nhân
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="profile_navbar">
                <ul class="profile_navbar-list">
                    <li class="profile_navbar-item active">
                        <a class="profile_navbar-link active-clink" href="">
                            Sản phẩm
                        </a>
                    </li>
                    <li class="profile_navbar-item">
                        <a class="profile_navbar-link" href="">
                            Giới thiệu
                        </a>
                    </li>
                    <li class="profile_navbar-item">
                        <a class="profile_navbar-link" href="">
                            Nhân viên
                        </a>
                    </li>
                    <li class="profile_navbar-item">
                        <a class="profile_navbar-link" href="">
                            Ảnh
                        </a>
                    </li>
                </ul>
                <div class="profile_navbar-item">
                    <a href="" class="profile_navbar-ellip-link">
                        <i class="fa-solid fa-ellipsis"></i>
                    </a>
                </div>
            </div>

            <div class="profile_content">
                <div class="form-list no-margin">
                    <div class="form-item_col5">
                        <div class="profile_content-left">
                        <h2 class="profile_introduct">Giới thiệu</h2>
                        <p class="profile_slogan">Thất bại là nhất thời, niềm tin là mãi mãi</p>
                        <div class="btn-profile btn-profile_update profile-grey">Chỉnh sửa châm ngôn</div>
                        <div class="profile_item-box">
                            <div class="profile_item-icon">
                                <i class="fa-solid fa-location-dot"></i>
                            </div>
                            <div class="profile_item-title">
                               <div class="profile_item-detail">Cơ sở tại <b>Huế</b></div>
                            </div>
                        </div>
                        <div class="profile_item-box">
                            <div class="profile_item-icon">
                                <i class="fa-solid fa-location-dot"></i>
                            </div>
                            <div class="profile_item-title">
                               <div class="profile_item-detail">Cơ sở tại <b>Huế</b></div>
                            </div>
                        </div>
                        <div class="profile_item-box">
                            <div class="profile_item-icon">
                                <i class="fa-solid fa-location-dot"></i>
                            </div>
                            <div class="profile_item-title">
                               <div class="profile_item-detail">Cơ sở tại <b>Huế</b></div>
                            </div>
                        </div>
                        <div class="btn-profile btn-profile_update profile-grey">Chỉnh sửa chi tiết</div>
                    </div>
                </div>

                <div class="form-item_col7">
                    <div class="profile_content-right">
                        <div class="profile-person_header">
                            <div class="profile-person_left">
                                <div style="background-image: url(/img/img/lop12b4.jpg) ;" class="profile-person_img"></div>
                                <div class="profile-person_box">
                                    <h3 class="profile-person_name">
                                        Công ti PKL
                                    </h3>
                                    <p class="profile-person_time">15 tháng 10 lúc 01:40</p>
                                </div>
                            </div>
                            <div class="profile-person_right">
                                <div class="profile-person_ellip">
                                    <a href="" class="profile-person_ellip-link">
                                        <i class="fa-solid fa-ellipsis"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <p class="profile_content-caption">Trái cây được UNESCO công nhận là trái cây ngon.</p>
                        <div style="background-image: url(/img/img/sanpham1.jpg) ;" class="profile_content-image"></div>
                        <div class="profile_content-form">
                            <div class="profile-person_box">
                                <h3 class="profile-person_name">
                                    Công ti PKL
                                </h3>
                                <p class="profile-person_time">15 tháng 10 lúc 01:40</p>
                            </div>
                            <p class="profile_content-caption">Trái cây được UNESCO công nhận là trái cây ngon.</p>
                        </div>

                        <ul class="profile_content-list">
                            <li class="profile_content-item">
                                <div class="profile_content-item-box">
                                    <i class="fa-solid fa-thumbs-up"></i>
                                    <span>Thích</span>
                                </div>
                            </li>
                            <li class="profile_content-item">
                                <div class="profile_content-item-box">
                                    <i class="fa-regular fa-comment"></i>
                                    <span>Bình luận</span>
                                </div>
                            </li>
                            <li class="profile_content-item">
                                <div class="profile_content-item-box">
                                    <i class="fa-solid fa-share"></i>
                                    <span>Chia sẽ</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="profile_content-right">
                        <div class="profile-person_header">
                            <div class="profile-person_left">
                                <div style="background-image: url(/img/img/lop12b4.jpg) ;" class="profile-person_img"></div>
                                <div class="profile-person_box">
                                    <h3 class="profile-person_name">
                                        Công ti PKL
                                    </h3>
                                    <p class="profile-person_time">15 tháng 10 lúc 01:40</p>
                                </div>
                            </div>
                            <div class="profile-person_right">
                                <div class="profile-person_ellip">
                                    <a href="" class="profile-person_ellip-link">
                                        <i class="fa-solid fa-ellipsis"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <p class="profile_content-caption">Trái cây được UNESCO công nhận là trái cây ngon.</p>
                        <div style="background-image: url(/img/img/sanpham1.jpg) ;" class="profile_content-image"></div>
                        <div class="profile_content-form">
                            <div class="profile-person_box">
                                <h3 class="profile-person_name">
                                    Công ti PKL
                                </h3>
                                <p class="profile-person_time">15 tháng 10 lúc 01:40</p>
                            </div>
                            <p class="profile_content-caption">Trái cây được UNESCO công nhận là trái cây ngon.</p>
                        </div>

                        <ul class="profile_content-list">
                            <li class="profile_content-item">
                                <div class="profile_content-item-box">
                                    <i class="fa-solid fa-thumbs-up"></i>
                                    <span>Thích</span>
                                </div>
                            </li>
                            <li class="profile_content-item">
                                <div class="profile_content-item-box">
                                    <i class="fa-regular fa-comment"></i>
                                    <span>Bình luận</span>
                                </div>
                            </li>
                            <li class="profile_content-item">
                                <div class="profile_content-item-box">
                                    <i class="fa-solid fa-share"></i>
                                    <span>Chia sẽ</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="profile_content-right">
                        <div class="profile-person_header">
                            <div class="profile-person_left">
                                <div style="background-image: url(/img/img/lop12b4.jpg) ;" class="profile-person_img"></div>
                                <div class="profile-person_box">
                                    <h3 class="profile-person_name">
                                        Công ti PKL
                                    </h3>
                                    <p class="profile-person_time">15 tháng 10 lúc 01:40</p>
                                </div>
                            </div>
                            <div class="profile-person_right">
                                <div class="profile-person_ellip">
                                    <a href="" class="profile-person_ellip-link">
                                        <i class="fa-solid fa-ellipsis"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <p class="profile_content-caption">Trái cây được UNESCO công nhận là trái cây ngon.</p>
                        <div style="background-image: url(/img/img/sanpham1.jpg) ;" class="profile_content-image"></div>
                        <div class="profile_content-form">
                            <div class="profile-person_box">
                                <h3 class="profile-person_name">
                                    Công ti PKL
                                </h3>
                                <p class="profile-person_time">15 tháng 10 lúc 01:40</p>
                            </div>
                            <p class="profile_content-caption">Trái cây được UNESCO công nhận là trái cây ngon.</p>
                        </div>

                        <ul class="profile_content-list">
                            <li class="profile_content-item">
                                <div class="profile_content-item-box">
                                    <i class="fa-solid fa-thumbs-up"></i>
                                    <span>Thích</span>
                                </div>
                            </li>
                            <li class="profile_content-item">
                                <div class="profile_content-item-box">
                                    <i class="fa-regular fa-comment"></i>
                                    <span>Bình luận</span>
                                </div>
                            </li>
                            <li class="profile_content-item">
                                <div class="profile_content-item-box">
                                    <i class="fa-solid fa-share"></i>
                                    <span>Chia sẽ</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>